[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
zbarlight== "*"
Pillow== "*"
aiohttp=="*"
antiorm=="*"
async-timeout=="*"
beautifulsoup4=="*"
bs4=="*"
certifi==2017.4.17
chardet=="*"
ChatterBot=="*"
chatterbot-corpus=="*"
click=="*"
Cython=="*"
da=="*"
db=="*"
dj-database-url=="*"
dj-static=="*"
Django=="*"
django-toolbelt=="*"
ed25519=="*"
freeze-requirements=="*"
future=="*"
gunicorn=="*"
itsdangerous=="*"
jsondatabase=="*"
markdown2=="*"
multidict=="*"
nltk=="*"
oauthlib=="*"
olefile=="*"
pbr=="*"
psycopg2=="*"
PyInstaller=="*"
pymongo=="*"
pytesseract=="*"
python-dateutil=="*"
python-twitter=="*"
python-weixin=="*"
pyzbar=="*"
qiniu=="*"
qrcode=="*"
requests=="*"
requests-oauthlib=="*"
ruamel.yaml=="*"
sh=="*"
simplejson=="*"
six=="*"
SQLAlchemy=="*"
static3=="*"
stevedore=="*"
tesseract=="*"
urllib3=="*"
utils=="*"
virtualenv=="*"
virtualenv-clone=="*"
whitenoise=="*"
xlwt=="*"
yarl=="*"
[requires]

python_version = "3.6"
